body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.poll__answer {
  color: black;
  background-color: white;
  border: 1px solid black;
  box-sizing:border-box;
  border-radius: 6px;
}

.poll__answer:hover {
  color: white;
  border-color: transparent;
}